body{
    background: rgb(221, 136, 217);
    font-family:"Madimi One", sans-serif ;
}

.header_div{
    background: white;
    color: rgb(96, 190, 162);
}

.main_div button{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_rigth_footer{
    position: fixed;
    color: rgb(43, 8, 41);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(223, 170, 223);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(58, 40, 58);
}



